
  
          <div class="card mb-4 shadow-sm ">
            <img class="bd-placeholder-img card-img-top" 
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" 
            src="https://rukminim1.flixcart.com/image/416/416/jmp79u80/puzzle/4/h/t/1-shengshow-silver-mirror-rubik-magic-cube-imported-original-imaf9j9p6zne4yfy.jpeg?q=70" />
            
            <div class="card-body">

                <p class="card-text">
                    <strong> {{254 | currency:'INR'}} </strong>
                </p>
              <p class="card-text">This is a wider card with supporting text below as 
                  a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary product.btn">Add to Cart </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary " >View Details</button>
                </div>
                
              </div>
            </div>
         